<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head('formulario autores')"></head>

<body>
    <header th:replace="fragmentos/header :: header"></header>
    <main>
        <div class="container">
            <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert"></div>
            <div class="row">
                <div class="col">
                    <form th:action="@{/autores/__${action}__}" th:object="${autor}" method="post" class="needs-validation" novalidate>
                        <input type="hidden" th:field="*{id}">
                        <div class="form-floating">
                            <input type="text" th:field="*{nombre}" class="form-control" id="nombre"
                                placeholder="Pedro Gomez" required>
                            <label for="floatingInputValue">Nombre del Autor</label>
                            <div class="invalid-feedback">El nombre del autor es requerido</div>
                        </div>
                        <button type="submit" class="btn btn-primary"
                            th:text="${action == 'crear' ? 'Crear' : 'Actualizar'}"></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer th:insert="fragmentos/scripts :: scripts">
    </footer>

</body>

</html>