<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragmentos/head :: head(Editorial)"></head>

<body>
    <header th:replace="fragmentos/header :: header"></header>
    <main>
        <div class="container">
            <div class="row mt-3">
                <!--Estilizá con este-->
                <div class="col"><a th:href="@{/editoriales/formulario}" class="btn btn-primary">Crear</a></div>
            </div>
            <div th:if="${exito}" th:text="${exito}" class="alert alert-success" role="alert"></div>
            <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert"></div>
            <div th:if="${editoriales.isEmpty()}" class="alert alert-info" role="alert">
                No existen editoriales
            </div>
            <div th:unless="${editoriales.isEmpty()}" class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Actualizar</th>
                                <th scope="col">Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="editorial : ${editoriales}">
                                <td th:text="${editorial.nombre}"></td>
                                <td><a th:href="@{/editoriales/formulario/__${editorial.id}__}"
                                        class="btn btn-warning">Actualizar</a></td>
                                <td>
                                    <form th:action="@{/editoriales/eliminar/__${editorial.id}__}" method="POST">
                                        <button class="btn btn-danger" type="submit">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <div th:insert="fragmentos/scripts :: scripts"></div>
</body>

</html>